.header__logo-text {
  width: 15rem;
}

button,
h1,
h2,
h3 {
  text-transform: uppercase;
}

header,
section,
footer {
  border: 2px solid blue;
}

h1 {
  border: 1px dotted grey;
}

.reasons {
  border: 1px dashed grey;
}