@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url('../fonts/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

.header__logo-text {
  width: 15rem;
}

button, h1, h2, h3 {
  text-transform: uppercase;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

header, section, footer {
  border: 2px solid blue; /* temporary */
  position: relative;
  min-height: 100vh;
}

h1 {
  border: 1px dotted grey;
}

header {
  background: linear-gradient( rgba(10, 14, 52, 0.9), rgba(10, 14, 52, 0.9)), url(../sources/img/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
}

svg g {
  fill: white;
}

.header__logo-text {
  position: absolute;
  margin: auto;
  top: calc(33px - 18px);
  left: calc(50% - 133px/2);
  width: 133px;
  height: 36px;
}

.header__slogan {
  position: relative;
  margin: auto;
}

.header__buttons button {
  position: absolute;
  display: flex;
  margin: 0;
  padding: 0;
  width: 28rem;
  height: 3.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: #5e42b0;
  border: none;
  border-radius: 3.5rem;
}

.header__buttons__ios {
  top: calc(40rem - 1.75rem);
  left: calc(50% - 14rem);
}

.header__buttons__android {
  top: calc(45rem - 1.75rem);
  left: calc(50% - 14rem);
}

.reasons {
  border: 1px dashed grey;
}

.header__slogan__first {
  position: absolute;
  top: calc(20.5rem - 1.5rem);
  left: 2rem;
  margin: 0;
  font-size: 3rem;
}

.header__slogan__second {
  position: absolute;
  top: calc(25.6rem - 1.4rem);
  left: 6.4rem;
  margin: 0;
  font-size: 2.8rem;
}

.header__buttons__ios .logo, .header__buttons__android .logo {
  text-align: right;
  width: 40%;
}

.header__buttons__apple__logo, .header__buttons__gplay__logo {
  width: 20px;
  height: 24px;
  margin-right: 0.9rem;
}

.header__buttons__ios__text, .header__buttons__android__text {
  font-size: 0.8pt;
  height: 100%;
  width: 60%;
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.header__buttons__ios__text .store, .header__buttons__android__text .store {
  font-weight: bold;
}