@font-face {
  font-family:"Open Sans";
  src: url('../fonts/opensans.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family:"Open Sans";
  src: url('../fonts/opensansbold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 62.5%;
}

.header__logo-text {
  width: 15rem;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

button,
h1,
h2,
h3 {
  text-transform: uppercase;
}

header,
section,
footer {
  border: 2px solid blue;
}

h1 {
  border: 1px dotted grey;
}

header {
  position: relative;
  /* width: 320px;
  height: 568px; */
  min-height: 100vh;
  background:  linear-gradient(
    rgba(10, 14, 52, 0.9),
    rgba(10, 14, 52, 0.9)
  ), url(../sources/img/football_767.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  color: white;

}

svg g {
  fill: white;
}

.header__logo-text {
  position: absolute;
  margin: auto;
  top: calc(33px - 18px);
  left: calc(50% - 133px/2);
  width: 133px;
  height: 36px;
}


.header__buttons button {
  position: absolute;
  width: 28rem;
  height: 3.5rem;
  font-size: 0.8rem;
  color: white;
  background-color: #5e42b0;
  border: none;
  border-radius: 3.5rem;
}

.header__buttons__ios {
  top: calc(40rem - 1.75rem);
  left: calc(50% - 14rem);
  background: url("../sources/svg/apple-logo.svg") no-repeat 8.2rem;
  background-size: 2rem 2.4rem;
}

.header__buttons__ios > div {

  text-align: left;
  position: relative;
  margin-left: calc(11.2rem);
}

.header__buttons__android {
  top: calc(45rem - 1.75rem);
  left: calc(50% - 14rem);
}


.reasons {
  border: 1px dashed grey;
}

.header-slogan__first {
  position: absolute;
  top: calc(20.5rem - 1.5rem);
  left: 2rem;
  margin: 0;
  font-size: 3rem;
}

.header-slogan__second {
  position: absolute;
  top: calc(25.6rem - 1.4rem);
  left: 6.4rem;
  margin: 0;
  font-size: 2.8rem;
}


