@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
       url('../fonts/OpenSans-Regular.woff') format('woff'),
       url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-style: normal;
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
       url('../fonts/OpenSans-Bold.woff') format('woff'),
       url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-display: swap;
}

/* *************** STYLES *************** */ 

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font: normal 1rem/normal 'Open Sans', Helvetica, Arial, sans-serif;	
}

h1, h2, h3 {
  position: relative;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 1;
}

a {
  text-transform: uppercase;
}

ol, ul {
  list-style: none;
}

img {
  position: relative;
  max-width: 100%;
  font-size: 2rem; 
  font-weight: bold; 
  text-indent: 0.5rem; 
  text-transform: uppercase;
}

/* *************** Mobile first *************** */ 

.container {
  position: relative;
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  padding: 0 6.25vw;
}

/* *************** Header *************** */ 

.header {
  position: relative;
  min-height: 100vh;
  padding: calc(33/568 * 100vmax) 0 calc(70/568 * 100vmax);
  color: white;
  background: #aa4c32 url('../images/img/football_767.jpg') no-repeat center / cover;
}

.header:after,
.footer:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0a0e34;
  opacity: 0.9;
}

.logo-btn-with-text {
  position: relative;
  display: block;
  max-width: 133px;
  margin-left: auto;
  margin-right: auto;  
  line-height: 0;
  transform: scale(1);
  transition: transform 0.3s;
  user-select: none;
  z-index: 1;
}

.header .logo-btn-with-text {
  margin-bottom: calc(130/568 * 100vmax);
}

.logo-btn:hover,
.logo-btn-with-text:hover {
  opacity: 0.9;
}

.logo-btn-with-text:active {
  transform: scale(0.9);
}

.logo-btn:active {
  box-shadow: inset 8px 8px 18px -6px rgba(0, 0, 0, 0.6);
}

.header-offer {
  position: relative;
  margin-left: -2px;
  margin-bottom: calc(84/568 * 100vmax);
  font-size: 2.8rem;
  line-height: 1.2;
  letter-spacing: 0.14rem;
  z-index: 1;
}

.header-offer-cta {
  display: block;
  width: calc(10/12*100% + 2px);
  margin-top: 18px;
  margin-left: auto;
}

.application-btns-group {
  position: relative;
  z-index: 1;
}

.application-btn {
  max-width: 280px;
  margin: 0 auto 14px;
  border-radius: 18px;
  background-color: #5e42b0;
  transition: transform 0.3s, background-color 0.3s ease-in-out, fill 0.3s ease-in-out;
}

.application-btn-link {
  display: flex;
  align-items: center; 
  padding: 6px 0 7px;
  font-size: 0.8rem;
  letter-spacing: 0.045rem;
  text-decoration: none;
  user-select: none;
  color: white;
}

.application-btn__googleplay .application-btn-link {
  padding-bottom: 5px;
}

.appstore-icon, 
.googleplay-icon {
  width: 24px;
  fill: white;
}

.appstore-icon {
  margin: -4px 7px 0 80px;
}

.googleplay-icon {
  margin: 0 6px 0 81px;
}

.application-btn__googleplay .application-btn-cta {
  margin-top: -2px;
}

.application-btn-brand {
  display: block;
  font-weight: bold;
}

.application-btn:hover {
  background-color: white;
}

.application-btn:hover .application-btn-link {
  color: #5e42b0;
}

.application-btn:hover .appstore-icon, 
.application-btn:hover .googleplay-icon {
  fill: #5e42b0;
}

.application-btn:active {
  box-shadow: inset 7px 7px 15px -7px rgba(0, 0, 0, 0.6);
  transform: scale(0.95);
}

/* *************** Common sections *************** */

.section-title {
  padding: 0 6.25vw;
  font-size: 5rem;
  line-height: 1.2;
  color: #e7e7e7; 
}

.advantages-img {
  z-index: 1;
}

.section-item {
  counter-increment: item;
}

.advantage-title,
.preview-title {
  font-size: 2.3rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  color: #c1c1c1;  
}

.advantage-title:before,
.preview-title:before {
  content: counter(item, decimal-leading-zero) ' ';
  position: absolute;
  font-size: 1.4rem;
  line-height: 1.26666;
  letter-spacing: 0;
  color: black;
}

.advantage-title:after,
.preview-title:after {
  content: '';
  position: absolute;
  width: 13px;
  border: 2px solid #5e42b0;
  border-radius: 2px;
  background-color: #5e42b0;
}

.advantage-text,
.preview-text {
  position: relative;
  font-size: 1.5rem;
  line-height: 1.25;
  letter-spacing: 0.09rem;
  word-spacing: -0.1rem;
  z-index: 1;
}

/* *************** Athleths & Players section *************** */

.advantages-picture {
  position: relative;
  display: block;
  z-index: 1;
}

.advantage {
  padding: 52px 0;
}

.advantage:first-child {
  padding-top: 74px;
  background-color: #fafafa;
}

.advantage:nth-child(2) {
  background-color: #f5f4f9;
}

.advantage-title {
  margin-bottom: 16px;
  padding-left: 25px;
}

.advantage-title:before {
  top: 4px;
  left: 0;
}

.advantage-title:after {
  top: 22px;
  left: 0;
}

.advantage.with-important-info .advantage-title:after {
  border-color: white;
}

.advantage.with-important-info .advantage-text {
  color: white;
}

/* *************** Athleths section only *************** */

.athlets .section-title {
  margin-top: 12px;
}

.athlets .advantages-img {
  bottom: -8px;
  margin-left: calc(50% - 90px);
}

.athlets .advantages {
  margin-top: -49px;
}

.athlets .advantage.with-important-info {
  padding-bottom: 54px;
  background-color: #5e42b0;
}

/* *************** Players section only *************** */

.players .section-title {
  margin-top: 9px;
  margin-left: -4px; 
}

.players .advantages-img {
  bottom: -11px;
  margin-left: calc(50% - 151px);
}

.players .advantages {
  margin-top: -16px;
}

.players .advantage {
  padding-bottom: 54px;
}

.players .advantage.with-important-info {
  padding-top: 49px;
  background-color: #090c35;
}

.players .advantage.with-important-info .advantage-title:before {
  color: #8765dd;
}

/* *************** Actions section *************** */

.actions-section .container {
  padding-top: 26px; 
  padding-bottom: 78px;
}

.actions-section .be__active .container {
  padding-top: 23px;
  padding-bottom: 77px;
}

.actions-section .work__it .container {
  padding-bottom: 67px;
}

.actions-section .preview-title {
  position: static;
  margin-left: -2px;
  margin-bottom: 15px;
  padding-left: 0;
  font-size: 2.8rem;
  line-height: 1.2321;
  letter-spacing: 0.14rem;
  color: #e7e7e7;
}

.actions-section .preview-title:before {
  position: absolute;
  top: -61px;
  left: 6.25vw;
  display: flex;
  justify-content: center;
  width: 70px;
  padding: 32px 0 38px;
  line-height: 0;
  letter-spacing: 0.1rem;
  color: #f5f6f7;
  background-color: #5e42b0;
}

.actions-section .preview-title:after {
  top: -18px;
  left: calc(6.25vw + 26px);
  border-color: white; 
  background-color: white;
  opacity: 0.3;
}

.actions-section .preview-text {
  font-size: 1.6rem;
}

.actions-section .be__active .preview-text {
  padding-right: 40px;
}

.actions-section .work__it .preview-title {
  margin-left: 0;
}

/* *************** Footer *************** */

.footer {
  position: relative;
  min-height: 100vh;
  padding: calc(99/568 * 100vmax) 0 calc(9/568 * 100vmax);
  color: white;
  background: #f2f2f2 url('../images/img/game_767.jpg') no-repeat right center / cover;
}

.logo-btn {
  position: relative;
  display: block;
  max-width: 72px;
  margin: 0 auto calc(48/568 * 100vmax);
  padding: 17px 14px;  
  text-align: center;
  line-height: 0;
  border-radius: 16px;
  background: linear-gradient(to top, #50329c, #7751db);
  user-select: none;
  z-index: 1;
}

.surface-logo-icon {
  transform: scale(1.295, 1.165);
}

.footer-offer {
  position: relative;
  margin: 0 auto calc(73/568 * 100vmax);
  font-size: 1.4rem;
  letter-spacing: 0.1rem;
  word-spacing: -0.15rem;
  text-align: center;
  text-transform: uppercase;
  color: #9b8ec1;
  z-index: 1;
}

.footer-offer-cta {
  display: block;
  margin-left: -4px;
  margin-right: -4px;  
  font-size: 3.2rem;
  font-weight: bold;
  letter-spacing: 0.14rem;
  word-spacing: 0.2rem;
  color: white;
}

.footer .application-btns-group {
  margin-bottom: calc(81/568 * 100vmax);
}

/* *************** For Tablets *************** */

@media (min-width: 641px) {
  .application-btns-group {
    display: flex;
    justify-content: center;
  }

  .application-btn {
    max-width: 311px;
    min-width: 285px;
    width: 50%;
    margin-bottom: 0;
    border-radius: 38px;
  }

  /* *************** Athleths & Players section *************** */

  .advantages-section .advantages {
    margin-top: 0;
  }

  .advantages-section .section-title {
    font-size: 8rem;
  }

  .advantage:first-child {
    background-color: transparent;
  }
}


@media (min-width: 641px) and (max-width: 960px) {
  .container {
    max-width: 960px;
    padding-left: 4.1666vw;
    padding-right: 4.2968vw;
  }   
   
  /* *************** Header *************** */

  .header {
    padding: calc(39/960 * 100vmax) 0 calc(91/960 * 100vmax);
    background-image: url('../images/img/football_1280.jpg');
  }

  .logo-btn-with-text {
    max-width: 205px;
  }

  .header .logo-btn-with-text {
    margin-bottom: calc(167/960 * 100vmax);
  }

  .header-offer {
    margin-bottom: calc(300/960 * 100vmax);
    margin-left: 0;
    padding-left: 6.9vw;
    font-size: 6.4rem;
    letter-spacing: 0.32rem;
  }

  .header-offer-cta {
    margin-top: 2px;
    margin-right: -1px;
  }

  .application-btn:nth-child(odd) {
    margin-left: auto;
    margin-right: 15px;
  }

  .application-btn:nth-child(even) {
    margin-left: 15px;
    margin-right: auto;
  }
  
  .application-btn-link {
    padding-top: 20px;
    padding-bottom: 18px;
    font-size: 1.4rem;
  }

  .application-btn__googleplay .application-btn-link {
    padding-top: 19px;
  }

  .appstore-icon {
    width: 44px;
    margin: -5px 23px 0 37px;
  }

  .googleplay-icon {
    width: 45px;
    margin: -2px 25px -3px 55px;
  }

  .application-btn-cta {
    line-height: 1.15;
  }
  
  .application-btn__googleplay .application-btn-cta {
    margin-top: -3px;
  }

  .application-btn-brand {
    padding-right: 8vw;
    letter-spacing: 0.06rem;  
    word-spacing: 0.2rem;
  }

  /* *************** Common sections *************** */

  .advantages-section {
    position: relative;
  }

  .section-title,
  .advantage .container {
    max-width: calc(8/12*100%);
  }

  .advantage-title {
    max-width: 325px;
    margin-bottom: 14px;
    padding-left: 30px;
    font-size: 3.2rem;
    letter-spacing: 0.16rem;
  }

  .advantage-title:before {
    top: 6px;
    font-size: 1.8rem;
  }

  .advantage-title:after { 
    top: 31px;
    width: 16px;
    border-width: 2.5px;
    border-radius: 2.5px;
  }

  .advantage-text {
    position: relative;
    font-size: 1.6rem;
    line-height: 1.75;
    letter-spacing: 0.095rem;
  }

  /* *************** Athleths & Players section *************** */

  .advantages-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: right;
  }

  .advantages-section .section-title {
    margin-top: 65px;
    padding-right: 4.2968vw;
  }

  .advantages-section .advantage {
    padding-bottom: 32px;
  }

  .advantages-section .advantage:first-child {
    padding-top: 32px;
  }

  /* *************** Athleths section only *************** */

  .athlets .section-title,
  .athlets .advantage .container {
    margin-left: auto;
    margin-right: 0;
    padding-left: 4.7vw;
  }

  .athlets .advantages-img {
    top: 29px;
    right: calc(50% + 12vw + 2.995vw - 66px);
    margin-left: 0;
  }

  .athlets .advantage {
    padding-top: 29px; 
  }

  .athlets .advantage.with-important-info {
    padding-bottom: 32px;
  }

  /* *************** Players section only *************** */

  .players .section-title {
    padding-left: 4.1vw;
  }

  .players .advantages-img {
    top: -26px;
    right: 0;
    margin-left: 0;
  }

  .players .advantage {
    padding-top: 31px; 
  }

  .players .advantage.with-important-info {
    padding-top: 31px;
    padding-bottom: 34px;
  }

  .players .advantage .container {
    margin-left: 0;
    padding-right: 4.7vw;
  }

  .players .advantage:first-child .advantage-text {
    padding-right: 31px; 
  }

  .players .advantage.with-important-info .advantage-text {
    font-size: 1.8rem;
    line-height: 1.55555;
    letter-spacing: 0.105rem;
  }

  /* *************** Actions section *************** */

  .actions-section .be__active .container {
    padding-top: 66px;
    padding-bottom: 99px;
  }

  .actions-section .find__contact .container {
    padding-top: 56px;
    padding-bottom: 106px;
  }

  .actions-section .work__it .container {
    padding-top: 57px;
    padding-bottom: 112px; 
  }

  .actions-section .preview-title {
    margin-left: -6px;
    margin-bottom: 15px;
    font-size: 8rem;
    letter-spacing: 0;
  }

  .actions-section .preview-title:before {
    top: -92px;
    left: 33px;
  }

  .actions-section .preview-title:after {
    top: -23px;
    left: 77px;
  }

  .actions-section .be__active .preview-title:before {
    top: -83px;
  }

  .actions-section .be__active .preview-title:after {
    top: -13px;
  }

  .actions-section .preview-text {
    padding-right: 35px;
    font-size: 2.4rem;
    line-height: 1.2;
    letter-spacing: 0.14rem;
  }

  /* *************** Footer *************** */

  .footer {
    padding: calc(126/960 * 100vmax) 0 calc(23/960 * 100vmax); 
    background-image: url('../images/img/game_1280.jpg');
    background-position: center;
  }

  .footer .logo-btn {
    margin-bottom: calc(69/960 * 100vmax);
  }

  .logo-btn {
    max-width: 130px;
    padding: 20px 14px 23.5px;
    border-radius: 30px;
  }

  .logo-btn:active {
    box-shadow: inset 10px 10px 20px -6px rgba(0, 0, 0, 0.6);
  }

  .surface-logo-icon {
    transform: scale(1, 0.91);
  }

  .footer-offer-cta {
    margin: 0 -7px 3px -5px;
    font-size: 8rem;
    line-height: 1;
    word-spacing: 0.1rem;
    letter-spacing: 0.4rem;
  }

  .footer-offer {
    margin-bottom: calc(273/960 * 100vmax);
    font-size: 3.6rem;
    line-height: 1.6666666;
    letter-spacing: 0.025rem;
  }

  .footer .application-btns-group {
    margin-bottom: calc(55/960 * 100vmax);
  }
}


@media (min-width: 641px) and (max-width: 767px) { 
  .players {
    overflow: hidden;
  }

  .players .advantages-img {
    top: 40px;
    right: calc(26.2vw - 234px);
    /*
      min right coord = -66px - for 641px min-width  
      max right coord = -33px - for 767px max-width;
      -33px = a * (767/100)px + k
      -66px = a * (641/100)px + k;
      where, a in 1vw and k in 1px.
      a = 26.19vw, k = -233.88px.
    */
      
    max-width: 66.67%;
  }
}


@media (min-width: 641px) and (max-width: 1575px) {

/* *************** Actions section only *************** */

  .actions-section .preview-title:before {
    width: 116px;
    padding: 51px 0 65px;
    font-size: 2.4rem;
  }

  .actions-section .preview-title:after {
    width: 22px;
    border-width: 2.5px;
  }
}

/* ***********Insert here right-code for desktops vesrion*********** */




/* *************** For Large Desktops *************** */ 

@media (min-width: 1921px) {
   
  /* *************** Header *************** */
  .header {
    background-color: #8ca13a;
    background-image: url('../images/img/football-801047.jpg');
  }
}






/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Not RE-WORKED !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/

/* *************** For iPad & iPad Pro *************** */ 

@media (min-width: 1024px) and (max-height: 768px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), 
(min-width: 1366px) and (max-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape), 
(min-width: 1024px) and (max-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview {
    width: calc(50vw + 8.5px) !important;
  } 
}

/* *************** For Desktops *************** */ 

@media (min-width: 961px) {
  .container {
    max-width: 1558px;
    padding-left: 11px;
    padding-right: 15px;
  }
   
  /* *************** Header *************** */

  .header {
    min-height: 960px;
    padding: 45px 0 110px;
    background-image: url('../images/img/football_1920.jpg'); 
  }

  .header .logo-btn-with-text {
    max-width: 191px;
    margin-bottom: 289px;
  }
	
  .logo-btn-with-text picture {
    margin-left: 11px;
  }

  .header-offer {
    font-size: 9rem;
    margin-left: 0;
    margin-right: -15px;
    margin-bottom: 208px;
    padding-left: 2px;
    line-height: 0.8;
    letter-spacing: 0.44rem;
  }

  .header-offer-cta {
    width: calc(9/12*100%);
    margin-top: 8px;
    padding-left: 65px;
    line-height: 1.1111;
  }

  .application-btns-group {
    padding-left: 30px;
    padding-right: 15px;
  }

  .application-btn:nth-child(odd) {
    margin-left: auto;
    margin-right: 28px;
  }

  .application-btn:nth-child(even) {
    margin-left: 22px;
    margin-right: auto;
  }
  
  .application-btn-link {
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: 0.07rem;
  }

  .application-btn__appstore > .application-btn-link {
    padding: 18px 0 !important;
  }

  .application-btn__googleplay > .application-btn-link {
    padding: 14px 0 !important;
  }

  .appstore-icon {
    width: 48px;
    margin: -7px 21px 0 35px;
  }

  .googleplay-icon {
    width: 50px;
    margin: 0 24px -1px 52px;
    transform: scale(0.9, 1);
  }

  .application-btn-cta {
    margin-top: 2px !important;
  }

  .application-btn-brand {
    margin-top: -4px;
  }

  /* *************** Common sections *************** */

  main { 
    padding-left: 8px;
    padding-right: 15px;
  }

  .section-title {
    font-size: 8rem;
  }

  .section-list.with-background-preview .section-item {
    padding-top: 49px !important;
    padding-bottom: 53px;
  }

  .section-item__title {
    margin-bottom: 10px;
    padding-left: 32px;
    font-size: 3.6rem;
    letter-spacing: 0.18rem;
  }

  .section-item__title:before {
    top: 8px;
    left: 0;
    font-size: 2rem;
  }

  .section-item__title:after { 
    top: 34px;
    left: 1px;
    width: 17px;
    border-width: 2.5px;
    border-radius: 2.5px;
  }

  .section-item__text {
    position: relative;
    font-size: 2rem;
    line-height: 1.4;
    letter-spacing: 0.1rem;
    word-spacing: 0.02rem;
  }

  /* *************** Athleths & Players section *************** */

  .athlets-section .section-title,
  .players-section .section-title {
    margin-top: 95px;
    margin-bottom: 29px;
  }

  .athlets-section .section-list.with-background-preview .section-item__title,
  .players-section .section-list.with-background-preview .section-item__title  {
    max-width: 500px;
  }

  /* *************** Athleths section only *************** */

  .athlets-section .section-title,
  .athlets-section .section-list.with-background-preview {
    width: calc(6/12*100% + 14px);
    padding-left: 64px;
  }

  .athlets-section .section-list.with-background-preview:after {
    top: -193px;
    left: -551px;
    right: 0;
    height: 100vmax;
    background-image: url('../images/img/footballer_566.png');
    background-size: 566px auto;
    background-position: left top;
  }

  .athlets-section .section-item.with-important-info {
    padding-bottom: 54px;
  }

  .athlets-section .section-list.with-background-preview .section-item:before {
    left: calc((-100vmax + 17px - 1558px)/2 + 100% + 15px);
    right: -15px;
  }

  /* *************** Players section only *************** */

  .players-section .section-title,
  .players-section .section-list.with-background-preview {
    width: calc(6/12*100% + 14px);
  }  

  .players-section .section-title {
    margin-top: 96px;
    margin-bottom: 32px;
  }

  .players-section .section-list.with-background-preview:after {
    top: -201px;
    left: 0;
    height: 100vmax;
    background-image: url('../images/img/basketballer_991.png');
    background-size: 991px auto;
    background-position: right top;
  }

  .players-section .section-item {
    padding-top: 50px;
    padding-bottom: 53px;
  }

  .players-section .section-list.with-background-preview .section-item:before {
    left: -8px;
    right: calc((-100vmax + 17px - 1558px)/2 + 100% + 8px);
  }

  .players-section .section-item:nth-child(2) {
    padding-bottom: 82px;
  }

  .players-section .section-item:nth-child(2) .section-item__title {
    margin-bottom: 19px;
  } 

  .players-section .section-item.with-important-info .section-item__title {
    margin-top: -1px;
    margin-bottom: 12px;
    letter-spacing: 0.15rem;
  }
  
  .players-section .section-item.with-important-info .section-item__text {
    margin-bottom: 1px;
    letter-spacing: 0.06rem;
  }

  /* *************** Actions section *************** */

  .section-item.with-picture-preview {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 0 !important;
  }

  .section-item.with-picture-preview:nth-child(even) {
    flex-direction: row-reverse;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview {
    width: 50vw;
    flex-shrink: 0;
    line-height: 0;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview {
    width: calc(50vw - 8.5px);
    overflow: hidden;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview .section-item__img {
    min-width: 50vw;
    max-width: 100%;
    margin-left: 0;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview .section-item__img {
    max-width: calc(100% + 8.5px);
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description {
    width: calc(6/12*100%);
    margin-top: 0px !important;
    padding-bottom: 3vw;
  }

  .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview-description {
    padding-left: 6.3vw;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description {
    padding-right: 6.3vw;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title {
    align-self: center;
    margin-left: 0;
    margin-bottom: 0;
    font-size: 8rem;
    line-height: 1;
    letter-spacing: 0;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description > * {
    margin-left: -6px;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:before {
    top: calc(12.9vw - 36.5px);
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:after {
    top: calc(12.9vw + 84px - 32px);
    width: 21px;
  }

  .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview-description .section-item__title:before {
    left: -84.5px;
  }

   .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview-description .section-item__title:after {
    left: -14px;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description .section-item__title:before {
    left: unset;
    right: -83.5px;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description .section-item__title:after {
    left: unset;
    right: -12px;
  }

  .actions-section .section-item.with-picture-preview.be__active .section-item__preview-description .section-item__title {
    margin-bottom: 4.2vw;
  }

  .actions-section .section-item.with-picture-preview.find__contact .section-item__preview-description .section-item__title {
    margin-bottom: 2vw;
  }

  .actions-section .section-item.with-picture-preview.work__it .section-item__preview-description .section-item__title {
    margin-left: 4px;
    margin-bottom: 3.8vw;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__text {
    padding: 25px 2px 0 5px !important;
    font-size: 2.3rem;
    line-height: 1.25;
    letter-spacing: 0.16rem;
  }

  .actions-section .section-item.with-picture-preview.work__it .section-item__preview-description .section-item__text {
    margin-left: -3px;
    margin-right: -5px;
  }

  /* *************** Footer *************** */

  .footer {
    min-height: 960px;
    padding: 229px 0 52px;
    background-image: url('../images/img/game_1920.jpg');
  }

  .footer .wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;		  
  }

  .footer .logo-btn {
    width: calc(2/12*100%);
    margin: 0 15px 0 54px;
  }

  .logo-btn {
    max-width: 130px;
    padding: 20px 14px 23.5px;
    border-radius: 30px;
  }

  .logo-btn:active {
    box-shadow: inset 10px 10px 20px -6px rgba(0, 0, 0, 0.6);
  }

  .surface-logo-icon {
    transform: scale(1, 0.91);
  }

  .footer-offer-cta {
    margin: 0 0 6px -3px;
    font-size: 8rem;
    line-height: 1;
    word-spacing: 0.1rem;
    letter-spacing: 0.4rem;
  }

  .footer-offer {
    width: calc(6/12*100%);
    margin: 9px 0 0;
    padding: 0 19px;
    text-align: left;
    font-size: 3rem;
    line-height: 1.15;
    letter-spacing: 0.25px;
  }

  .footer .application-btns-group {
    margin-top: 151px;
    margin-bottom: 262px;
  }

  .footer .logo-btn-with-text {
    width: 100%;
  }
}


@media (min-width: 961px) and (max-width: 1575px) {
  .athlets-section .section-item {
    padding-right: 17px;
  }

  .players-section .section-title {
    margin-left: 0;
    padding-left: 20px;
  }

  .players-section .section-item {
    padding-left: 24px;
  }

  .players-section .section-list.with-background-preview:after {
    right: calc(8.632vw - 982px);
    /*
      min right coord = -899px - for 961px min-width  
      max right coord = -846px - for 1575px max-width;
      -846px = a * (1575/100)px + k
      -899px = a * (961/100)px + k;
      where, a in 1vw and k in 1px.
      a = 8.632vw, k = -982px.
    */
  }

  .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview {
    margin-left: calc(-8px - 8.5px);
    /*8.5px = 17px/2 - half-width browser scroll*/
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview {
    margin-right: -15px;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description {
    padding-left: 24px;
  }
	
  .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview-description .section-item__title:before {
    left: -58px;
  }

   .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview-description .section-item__title:after {
    left: -14px;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description .section-item__title:before {
    right: -58px;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description .section-item__title:after {
    right: -12px;
  }

  .footer > .logo-btn {
    margin-left: auto;
  }

  .footer-offer {
    min-width: 750px;
    margin-right: auto;
  }
}


@media (min-width: 961px) and (max-width: 1279px) {
  .actions-section .section-item.with-picture-preview .section-item__preview-description {
    padding-top: 9.3vw;
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview-description {
    padding-left: 24px;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title {
    font-size: calc(7.5vw - 16.53px);
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__text {
    font-size: calc(0.94vw + 11px);
    padding-top: 15px !important;
  }

  .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview-description {
    padding-left: 7vw;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description {
    padding-top: 8.75vw;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:before {
    top: calc(8.75vw - 18px);
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:after {
    top: calc(8.75vw + 50px);
    width: 21px;
  }
}


@media (min-width: 1280px) and (max-width: 1575px) {

/* *************** Actions section only *************** */

  .actions-section .section-item.with-picture-preview .section-item__preview-description {
    padding-top: 10vw;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:before {
    top: calc(10vw - 18px);
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:after {
    top: calc(10vw + 50px);
    width: 21px;
  }
}


@media (min-width: 1576px) {
  .athlets-section .section-list.with-background-preview .section-item:before {
    right: calc((-100vmax + 17px + 1558px)/2 - 15px);
  }

  .players-section .section-list.with-background-preview .section-item:before {
    left: calc((-100vmax + 17px + 1558px)/2 - 8px);
  }

  .players-section .section-list.with-background-preview:after {
    right: -42.9vw;
  }

  .actions-section .section-item.with-picture-preview:nth-child(odd) .section-item__preview {
    margin-left: calc((-100vmax + 17px + 1558px)/2 - 8px - 8.5px);
    /*8.5px = 17px/2 - half-width browser scroll*/
  }

  .actions-section .section-item.with-picture-preview:nth-child(even) .section-item__preview {
    margin-right: calc((-100vmax + 17px + 1558px)/2 - 15px);
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description {
    padding-top: 12.9vw;
  }

  .actions-section .section-item.with-picture-preview .section-item__preview-description .section-item__title:before {
    width: 168px;
    padding: 70px 0 85px;
    font-size: 2.3rem;
  }
}
